@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import '~bootstrap/scss/bootstrap';
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.nav {
  display: block;
  z-index: 999;
  background-color: rgba(105, 17, 17, 0.4);
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  height: 70px;
  align-items: center;
  &__sectionView {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: all 1s ease-in-out;
    opacity: 0;
    &:hover {
      opacity: 100%;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    &__item {
      cursor: pointer;
      font-family: 'Kaushan Script', cursive;
      font-size: 1.5rem;
    }
  }
}
.nav__list__item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 1px;
  background-color: black;
  bottom: 20px;
}
.nav__list__item:hover::before {
  width: 70px;
  transition: width 0.3s ease-in-out;
}
.custom_carousel_slider {
  width: 100vw;
  height: 100vh;
}
#myCarousel {
  position: absolute;
  top: 0;
}
.custom-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
}
.treatments-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}
.section {
  display: block;
  &__empty {
    height: 95vh;
    width: 100vw;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
  }
}
.treatments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
.card__custom {
  width: 20rem;
}
.detailCard__custom {
  width: 40rem;
}
footer {
  margin-top: 20px;
  display: flex;
  height: 15vh;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.sectionView_title {
  margin: 20px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.logo {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}
.button {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 1rem;
  &:hover {
    color: green;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
  }
}
.button--disabled {
  background-color: grey;
  border-radius: 5px;
  border: none;
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 1rem;
  &:hover {
    color: grey;
  }
}
.orderWrapper {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sumInfo {
  padding: 30px;
  display: block;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
}
.btn-remove-custom {
  margin: 0 20px;
}
.btn-clear-custom {
  margin: 30px;
}

.li-custom {
  width: 500px;
}
.cartTitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.cartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity {
  margin: 0 10px;
  width: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.spanWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.mainwrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  &__imagePlace {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
    img {
      height: 80vh;
      width: auto;
    }
  }
  &__descriptionPlace {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    min-height: 60vh;
    width: 30vw;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3rem;
    text-align: justify;
  }
}
.titleDetail {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  margin: 40px;
}
.spanWrapperDescription {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin: 10px;
  }
}
.tableName {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3rem;
}
